/*Tags de formatação*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,
body {
    height: 100%;
}

div.clear {
    clear: both;
}

div.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*******/

/*Header*/

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo {
    float: left;
}

/*Nav DESKTOP*/

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;

}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
    font-weight: 500;
}

header nav.desktop ul li a {
    text-decoration: none;
    color: black;
}

/*Nav DESKTOP*/

/*Nav MOBILE*/

header nav.mobile {
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url('../images/icon_menu.png');
    display: none;
}

header nav.mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    border-top: 4px solid #eb2d2d;
    border-bottom: 4px solid #eb2d2d;
    z-index: 999;
    text-align: center;
    background-color: white;
}

header nav.mobile ul li{
    font-size: 23px;
    padding: 20px 2%;
    font-style: italic;
    font-weight: 800;
}

header nav.mobile ul li a{
    text-decoration: none;
    color: black;
}

/*Nav MOBILE*/

/*******/

/*Section banner*/

section.banner {
    overflow: hidden;
    width: 100%;
    height: 650px;
    background: black;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

div.text-banner {
    padding: 100px;
}

div.text-banner-single {
    width: 314px;
    font-style: italic;
    margin-top: 30px;
    height: 70px;
	line-height: 70px;
	padding-left: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    background-image: url(../images/box-text.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.text-banner div.text-banner-single:nth-of-type(2) {
	width: 200px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -10px;
}

div.text-banner div.text-banner-single:nth-of-type(3) {
	width: 170px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -20px;
}

div.text-banner div.text-banner-single:nth-of-type(4) {
	width: 320px;
	font-size: 21px;
	color: black;
	position: relative;
	left: -30px;
	line-height: 70px;
    background-image: url('../images/box-white-text.png');

}

/*******/

/*Media Queries*/


@media screen and (max-width: 1130px) {
    section.banner {
        background-size: cover;
        background-position: 100px center;
        height: 80vh;
    }
}

@media screen and (max-width: 768px) {

    header nav.desktop {
        display: none;
    }
    
    header nav.mobile {
        display: block;
    }

    div.text-banner {
        padding: 70px 10%;
    }

}

@media screen and (max-width: 580px) {
    div.text-banner {
        padding: 30px 10%;
    }

    div.text-banner-single {
        width: 240px;
        font-size: 18px;
    }

    div.text-banner div.text-banner-single:nth-of-type(4) {
        width: 270px;
    }
}

/*******/